openapi: 3.0.3
info:
  title: Stellara i18n PoC
  version: 0.1.0
paths:
  /translations:
    get:
      summary: List translations
      responses:
        '200':
          description: OK
    post:
      summary: Create translation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - key
                - locale
                - value
              properties:
                key:
                  type: string
                locale:
                  type: string
                value:
                  type: string
      responses:
        '201':
          description: Created
